@tailwind base;
@tailwind components;
@tailwind utilities;



@layer line-img {
    .custom-before::before {
      content: "";
      position: absolute;
      top: -30px;
      left: 331px;
    }
  }